/*Colors*/
:root {
  --primary-color-shade: #260033;
  --primary-color: #580077;
  --secondary-color: #ceba00;
  /*--full-height: 100vh;*/
}

/*Default Styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  /* Bring the header above the gradient background */
  position: relative;
  z-index: 10;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 16px;
  height: 36px;
  width: 100%;
  background-color: var(--primary-color-shade);
}

.bottom-section {
  height: 72px;
  width: 100%;
  background-color: var(--primary-color);
}

.logo1,
.logo2,
.logo3 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.logo1 {
  background-color: #0075ff;
}

.logo2 {
  background-color: #60b2ff;
}

.logo3 {
  background-color: #925700;
}

div.left-nav {
  display: flex;
}

div.right-nav p {
  text-align: right;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  margin: 0;
  color: #efefef;
}

div.right-nav p span {
  color: var(--secondary-color);
}

.nav-area {
  /* centralize the nav area inside bottom-section */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20vw;
  height: 100%;
  /* Make the nav area's width to fit the li contents */
  /*width: fit-content;*/
  list-style-type: none;
  text-align: center;
}

.nav-area li {
  margin: 0px 24px;
  height: 100%;
  color: white;
  line-height: 72px;
}

.nav-area li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

.brand-logo {
  padding: 16px 24px;
  border-radius: 0 0 5px 5px;
  background-color: var(--secondary-color);
}

.nav-area li a.active {
  position: relative;
}

.nav-area li a.active::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: -4px;
  right: -12px;
}

.text-overlay {
  background-image: url("../images/Hero Image.png");
  height: fit-content;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 36px 0;
  position: relative;
}

.text-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
      var(--primary-color-shade),
      rgba(38, 0, 51, 0.5));
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  /* Bring the title above the gradient background */
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffff;
  /* background-color: var(--primary-color-shade); */
}

.title h1 {
  font-size: 3rem;
}

.title p {
  font-size: 1.5rem;
}

/* General button styles */
.button {
  border: none;
  border-width: 2px;
  border-style: solid;
  outline: none;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Outline button styles */
.button-outline {
  color: var(--primary-color-shade);
  background-color: transparent;
  border-color: var(--primary-color-shade);
}

.button-outline-secondary {
  color: var(--secondary-color);
  background-color: transparent;
  border-color: var(--secondary-color);
}

/* Solid button styles */
.button-solid {
  color: #fff;
  background-color: var(--primary-color-shade);
  border-color: var(--primary-color-shade);
}

.button-solid-secondary {
  color: black;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button-solid-primary{
  color: #fff;
  background-color: var(--primary-color-shade);
  border-color: var(--primary-color-shade);
  
}



.room {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color-shade);
  padding: 72px 16px;
  margin: 0%;
  outline: none;
}

.left-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.uniform {
  color: var(--secondary-color);
  /*padding-top: 36px;*/
  font-size: 2rem;
}

.paragraph {
  color: #fff;
  font-size: 1.5rem;
}

.environ {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color-shade);
  padding: 72px 16px;
  margin: 0;
  outline: none;
}

.right-nav-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  align-items: flex-end;
}

section.membership {
  padding: 72px 16px;
  margin: 0;
  outline: none;
  background: var(--secondary-color);
}

section.membership h2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:var(--primary-color-shade) ;
  font-size: 1.5rem;
}

.form {
  display: flex;
  justify-content: center;
}

.form input {
  margin: 20px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 3px solid var(--primary-color-shade);
}

.form input p{
  margin: 0;
  padding: 0;
 vertical-align: initial;
}

.social-media {
 padding: 72px 16px;
  margin: 0;
  outline: none;
  
  background: var(--primary-color-shade);
}


.top-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  background-color: var(--primary-color);
}

.top-nav img {/*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color-shade);
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  margin-top: 0;
  outline: 0;
  padding: 8px 36px;
}