/*Colors*/
:root {
  --primary-color-shade: #260033;
  --primary-color: #580077;
  --secondary-color: #ceba00;
}

/*Default Styles*/
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  /* Remove default bullets */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

input,
textarea,
button {
  font-size: 16px;
  outline: none;
  border: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  /* Bring the header above the gradient background */
  position: relative;
  z-index: 10;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 16px;
  height: 36px;
  width: 100%;
  background-color: var(--primary-color-shade);
}

.bottom-section {
  height: 72px;
  width: 100%;
  background-color: var(--primary-color);
}

.logo1,
.logo2,
.logo3 {
  height: 36px;
  width: 36px;
  padding: 8px;
}

.logo1 {
  background-color: #0075ff;
}

.logo2 {
  background-color: #60b2ff;
}

.logo3 {
  background-color: #925700;
}

div.left-nav {
  display: flex;
}

div.right-nav p {
  text-align: right;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  margin: 0;
  color: #efefef;
}

div.right-nav p span {
  color: var(--secondary-color);
}

.nav-area {
  /* centralize the nav area inside bottom-section */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20vw;
  height: 100%;
  /* Make the nav area's width to fit the li contents */
  /*width: fit-content;*/
  text-align: center;
}

.nav-area li {
  margin: 0px 24px;
  height: 100%;
  color: white;
  line-height: 72px;
}

.nav-area li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

.brand-logo {
  padding: 16px 24px;
  border-radius: 0 0 5px 5px;
  background-color: var(--secondary-color);
}

.nav-area li a.active {
  position: relative;
}

.nav-area li a.active::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: -4px;
  right: -12px;
}

.text-overlay {
  background-image: url("../images/Hero Image.png");
  height: fit-content;
  /* You must set a specified height */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  padding: 36px 0;
  position: relative;
}

.text-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
      var(--primary-color-shade),
      rgba(38, 0, 51, 0.5));
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  /* Bring the title above the gradient background */
  position: relative;
  z-index: 2;
  text-align: center;
  color: #ffff;
  /* background-color: var(--primary-color-shade); */
}

.title h1 {
  font-size: 3rem;
}

.title p {
  font-size: 1.5rem;
}

/* General button styles */
.button {
  border-width: 2px;
  border-style: solid;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Outline button styles */
.button-outline-primary {
  color: var(--primary-color-shade);
  background-color: transparent;
  border-color: var(--primary-color-shade);
}

.button-outline-secondary {
  color: var(--secondary-color);
  background-color: transparent;
  border-color: var(--secondary-color);
}

/* Solid button styles */
.button-solid-secondary {
  color: black;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button-solid-primary {
  color: #fff;
  background-color: var(--primary-color-shade);
  border-color: var(--primary-color-shade);
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color-shade);
  padding: 72px 10%;
  margin: 0%;
}

.services .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content h3,
section.membership h2 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.text-content p {
  color: #fff;
  font-size: 1.5rem;
}

.services .image-content img {
  width: 80%;
}

section.membership {
  padding: 72px 10%;
  margin: 0;
  background: var(--secondary-color);
}

section.membership h2 {
  text-align: center;
  color: var(--primary-color-shade);
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form .form-control {
  width: 25%;
  margin-right: 16px;
}

.form-control input,
.form-control textarea {
  padding: 8px 16px;
  width: 100%;
  background: none;
  border-bottom: 3px solid var(--primary-color-shade);
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: var(--primary-color-shade);
  font-weight: bold;
}

.form-control p {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 0.8rem;
  text-align: right;
  color: rgba(38, 0, 51, 0.5);
}

.footer {
  margin: 0;
  background: var(--primary-color-shade);
}

.top-footer-content {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color-shade);
  color: #ffff;
  padding: 0;
  margin: 0;
  padding-bottom: 48px;
}

.top-footer-content h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.top-footer-content p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.top-footer-content img {
  border-radius: 3px;
  margin-right: 2%;
}

.column-layout {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.64);
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 72px 32px 32px 32px;
}

.column-layout>div,
.columns {
  display: flex;
}

.column-layout h5 {
  margin: 0;
  margin-bottom: 16px;
  position: relative;
}

.column-layout h5::after {
  content: '';
  height: 6px;
  width: 30px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -14px;
}

.columns p {
  margin-right: 36px;
}

.copyright-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 8px 32px;
  background-color: black;
  color: #ffff;
  font-size: 0.85rem;
  border-top: 1px solid black;
}

.page-header {
  text-align: center;
  margin: 0;
  padding: 0;
  padding: 72px 10%;
  background-color: var(--primary-color);
  color: #ffff;
}

.page-header-title h1 {
  font-size: 3rem;
  font: bold;
  margin-top: -5px;
}

.page-header-title p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color-shade);
  padding: 72px 10%;
  color: #fff;
}

.page-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #fff;
}

.page-info p:last-child {
  display: flex;
  align-items: center;
}

.page-info a {
  text-decoration: none;
  margin-left: 8px;
}

.page-info .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.room-image {
  width: 50%;
  margin-right: 20px;
}

.room-image img {
  width: 100%;
}

.room-rate {
  font-weight: bold;
  color: var(--secondary-color);
}

.page-header-nav {
  display: flex;
  justify-content: center;
}

section.has-slope-below {
  padding-bottom: calc(5% + 75px);
}

section.has-slope-below~section {
  position: relative;
}

section.has-slope-below~section * {
  position: relative;
  z-index: 1;
}

section.has-slope-below~section::before {
  content: "";
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg-section-custom.svg) no-repeat;
  background-size: contain;
  background-position-x: center;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 10%;
  color: #fff;

  background-color: var(--primary-color-shade);
}

.facilities-form-area input {
  min-width: 450px;
  width: 50%;
  height: 48px;
  margin-bottom: 16px;
  padding: 0 16px;
  border-radius: 5px;
  background: white;
  font-weight: 100;
}

.facilities-nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.facilities-nav-items ul li {
  margin: 24px;
}

.facilities-nav-items ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--secondary-color);
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.contact-page-map {
  background-color: var(--primary-color-shade);
  padding: 72px 0;
}

.contact-page-form {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-shade);
  padding: 72px 10%;
  color: #ffff;
}

.contact-message h1,
.contact-title h3 {
  font-size: 2rem;
  font-weight: bold;
}

.contact-message p,
.contact-title p {
  font-size: 1.2rem;
}

.contact-message span {
  color: var(--secondary-color);
  margin: 0 auto;
}

.contact-form {
  width: 50%;
  background: #fff;
  padding: 4rem 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.contact-form .button {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

.form-action {
  width: 90%;
}

.contact-title {
  color: #ffff;
  text-align: center;
}

.contact-map {
  width: 100%;
  height: 75vh;
  background: url("../images/Map.png") no-repeat center center / cover;
}